variable "public_key_path" {
  description = "Path to the public SSH key you want to bake into the instance."
  default     = "~/.ssh/<your key filename>.pub"
}

variable "private_key_path" {
  description = "Path to the private SSH key, used to access the instance."
  default     = "~/.ssh/<your key filename>.pem"
}

variable "project_name" {
  description = "<your org name> terraform ARMOR aws DEMO"
  default     = "terraformARMORaws"
}

variable "ssh_user" {
  description = "SSH user name to connect to your instance."
  default     = "ubuntu"
}

variable "access_key" {
  description = "Access Key to AWS account"
  default     = "XXXXX"
}

variable "secret_key" {
  description = "Secret Key to AWS account"
  default     = "XXXXX"
}

variable "myname" {
  description = "Default Name tag for AWS Resources"
  default     = "terraform"
}

variable "mydept" {
  description = "Default Deapartment tag for AWS Resources"
  default     = "Solutions Engineering"
}

variable "myorg" {
  description = "Default Organization tag for AWS Resources"
  default     = "https://armor.com, Armor Defense, Inc."
}

variable "mystack" {
  description = "Default Stack tag for AWS Resources"
  default     = "SE Demo"
}

variable "myenv" {
  description = "Default Env tag for AWS Resources"
  default     = "customer-armor-labs-1"
}

variable "ami_id" {
  description = "Random id generator"
  default     = 1234567890
}


